<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABBAGE</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    
    <h2>Charles Babbage [Walworth (Londres, Reino Unido), 1791 – Marylebone (Londres, Reino Unido), 1871]. Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</h2>

    <img src="https://www.biografiasyvidas.com/biografia/b/fotos/babbage_1.jpg" alt="Charles Babbage">

    <hr>
    
</body>
</html>