<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace-Hopper</title>
</head>
<body>
    <h1>Grace Hopper</h1>

    <h3>Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de enero de 1992. Grace Hopper fue un distinguido oficial de la marina estadounidense y una destacada científica computacional. Hopper fue uno de los programadores del primer gran ordenador, el Mark I.</h3>

    <img width="350" height="400" src="./img/Grace-Hopper.jpg" alt="Grace Hopper">

    <hr>
</body>
</html>