<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body>
    <h1>Bienvenidos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quo pariatur cupiditate assumenda laboriosam molestiae atque maxime rerum voluptates? Saepe quis neque amet consectetur at necessitatibus? Modi quod harum alias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ea earum vitae doloribus nihil inventore eos quis dignissimos eius hic eligendi expedita delectus, repudiandae beatae, atque veritatis cum autem quaerat?
        
    </p>
    
</body>
</html>