<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    
    <h1>Ada Lovelace</h1>

    <h3>Augusta Ada King, condesa de Lovelace estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</h3>

    <ul>
        <li> <b>Nacimiento:</b> 10 de diciembre de 1815, Londres, Reino Unido </li>
        <li> <b>Fallecimiento:</b> 27 de noviembre de 1852, Marylebone, Londres, Reino Unido</li>
        <li><b>Cónyuge:</b> William King-Noel, 1st Earl of Lovelace (m. 1835–1852)</li>
        <li><b>Nombre en inglés:</b> Augusta Ada King, Countess of Lovelace</li>
        <li><b>Hijos:</b> Byron King-Noel, Viscount Ockham, Anne Blunt, 15th Baroness Wentworth, Ralph King-Milbanke, 2nd Earl of Lovelace</li>
        <li><b>Influenciada por:</b> <a href="https://es.wikipedia.org/wiki/Charles_Babbage">Charles Babbage</a>, Mary Somerville, Augustus De Morgan, William Frend</li>
    </ul>

    <img width="350" height="450" src="./img/Ada-Lovelace.jpg" alt="">

    <hr>
    
</body>
</html>